.intro
    .intro__title
        h1 I AM AN ARTISTIC ENGINEER
    .intro__wrap
        .intro__wrap__avatar
            img(src="../../assets/img/Avatar.png")
        .intro__wrap__content
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae mollitia facilis vel ea maiores animi perspiciatis provident dolor repudiandae corrupti reprehenderit, tempore libero sunt aperiam hic at iure asperiores magni.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta eligendi, quos consequatur omnis tempora in. Provident accusantium repellendus iure, voluptate laboriosam laudantium distinctio corporis, ipsam hic quas iste itaque.

            