.nav
    .nav__logo
        h1 HT
    ul.nav__list
        li.nav__list__item: a(href="#Home") HOME
        li.nav__list__item: a(href="#Resume") RESUME
        li.nav__list__item: a(href="#Contact") CONTACT
        li.nav__list__item.nav__list__item--last: a(href="#My-projects") MY PROJECTS
